<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
<h1>
    Welcome to the text. Enter your  below
</h1>
<form action="/analyze",method="get">
    <textarea name="text" style='margin:0px; width:721px; height: 93px'></textarea>
    <br>
<input type="checkbox" name="removepunc"> Remove Punctuations<br>
<input type="checkbox" name="fullcaps">full captical<br>
<input type="checkbox" name="charCount">char count<br>
    <button type="submit"> Analyze Text</button>

</form>
</body>
</html>